* {
  padding: 0;
  margin: 0;
}

.container {
  color: white;
  background: linear-gradient(145deg, #2193b0, #6dd5ed);
  width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.search-bar {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.search-icon {
  margin-right: 5px;
  position: absolute;
  left: 0;
}

#search-input {
  border: 0;
  outline: 0;
  padding: 3px 3px 3px 20px;
  background: transparent;
  height: 20px;
  color: white;
}

#search-input::placeholder {
  color: rgb(206, 206, 206);
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding: 80px 50px;
}
.time {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px;
}

.city-name {
  font-size: 20px;
  margin-bottom: 3px;
}

.weather-state {
  font-size: 13px;
}

.weather-icon {
  width: 70px;
  height: 70px;
}

.temperature {
  font-size: 80px;
  font-weight: lighter;
  line-height: 1;
  position: relative;
}

.temperature::after {
  content: "o";
  position: absolute;
  font-size: 30px;
}

.additional-section {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 13px;
}

.additional-section .row {
  margin-bottom: 5px;
  display: flex;
}

.additional-section .item {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.additional-section .item .label {
  font-weight: bold;
}

.microphone {
  cursor: pointer;
}
/*
.microphone .recording-icon {
  display: none;
  width: 10px;
  height: 10px;
  background-color: #e22d2d;
  border-radius: 50%;
  animation: pulse 1.5s infinite linear;
}

.microphone.recording .recording-icon {
  display: inline-block;
}

.microphone.recording .fa-microphone {
  display: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 3px 0 rgba(173, 0, 0, 0.3);
  }
  65% {
    box-shadow: 0 0 3px 5px rgba(173, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 3px 5px rgba(173, 0, 0, 0);
  }
} */
